.featuredGrid {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.featuredGrid img {
  width: 100%;
  box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .featuredGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .featuredGrid img {
    width: 100%;
  }
}
